.container {
	width: 100%;
	margin: 0 auto;
	}
.main {
	width: 100%;
	height: 100vh;
	background: url("vacation.jpg"); 
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-shadow: 1px 1px #00bfff;
		}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
		}
body {
	margin: 0;
	}
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	width: 100%;
	padding-top: 15px;
	}
.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	}
.logo {
	margin-left: 20px;
	font-size: 30px;
	font-weight: 700;
	color: white;
	}
.nav {
	text-transform: uppercase;
	font-size: 14px;
	margin-right: 20px;
				
	}
.nav_link {
	color: white;
	display: inline-block;
	vertical-align: top;
	margin: 0 6px;
	text-decoration: none;
	transition: color .2s linear;
	position: relative;
	}
.nav_link:hover {
	color: #00bfff;
	}
.nav_link:after {
	content: "";
	display: none;
	width: 100%;
	height: 3px;
	background-color: #00bfff;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	}
.nav_link:hover:after {
	display: block;
	}
.main_title {
	font-size: 150 px;
	font-weight: 700;
	text-align: center;
	line-height: 1;
	color: white;
	}
.intro_inner {
	width: 100%;
	margin: 0 auto;
	}
